.filter-dishes{
   padding: 10px 10%;
    /* display: flex; */
    align-items: center;
    height: 350px;
    width: auto;
    background-color: #F5F5F5;
}


.filter-dishes-header{
    height: 50px;
    font-size: 30px;
    color: black;
    font-weight: 600;
}


.filter-dishes-dishes{
    display: flex;
}