.navbar-container {
    display: flex;
    /* background-color: red; */
    padding: 15px 10%;
    height: 60px;
    justify-content:space-between;
}
body, button, input, input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
    
    font-size: 0.8rem;
}
.navbar-logo {
    height: 30px;
    width: fit-content;
    margin: 5px 30px;
}



.navbar-searchbar {
    display: flex;
    width: 700px;
    height: 50px;
     border: 1px solid #d9d7d7; 
    border-radius: 10px;
    box-shadow: 1px 1px #d9d7d7;
    justify-content: flex-start;
}
.navbar-location{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    
}

p{
    margin: 0px 5px;
    
}
.navbar-search{
    
    display: flex;
    align-items: center;
}
/* 
.navbar-search-vertical{
    
} */


.navbar-button{

}