.rests-container{
    padding: 10px 10%;
}


.rests-header{
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    margin-top: 45px;
}

.rests-restaurant{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: auto;
    grid-row-gap: 80px;
    grid-column-gap: 15px;
}